@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
  background: linear-gradient(
    90deg,
    rgba(210, 104, 87, 1) 0%,
    rgba(155, 74, 80, 1) 24.86%,
    rgba(111, 49, 75, 1) 48.59%,
    rgba(79, 32, 71, 1) 69.69%,
    rgba(59, 21, 69, 1) 87.36%,
    rgba(52, 17, 68, 1) 99.44%
  );
}

body {
  background-image: url("../public/bg-city.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#card {
  background: linear-gradient(
    135deg,
    rgba(210, 104, 87, 1) 0%,
    rgba(155, 74, 80, 1) 24.86%,
    rgba(111, 49, 75, 1) 48.59%,
    rgba(79, 32, 71, 1) 69.69%,
    rgba(59, 21, 69, 1) 87.36%,
    rgba(52, 17, 68, 1) 99.44%
  );
  border-radius: 20px;
}

.bg-burger {
  background: linear-gradient(
    90deg,
    rgba(210, 104, 87, 1) 0%,
    rgba(155, 74, 80, 1) 24.86%,
    rgba(111, 49, 75, 1) 48.59%,
    rgba(79, 32, 71, 1) 69.69%,
    rgba(59, 21, 69, 1) 87.36%,
    rgba(52, 17, 68, 1) 99.44%
  );
}

#card-home {
  background: linear-gradient(
    135deg,
    rgba(219, 100, 96, 1) 0%,
    rgba(232, 189, 47, 1) 100%
  );
}
